<a href="https://colab.research.google.com/github/Koder-Kartik/Programming-in-Python/blob/main/Introduction/Introduction_to_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Why Python?

Python is an easy-to-learn and powerful Object-Oriented Programming language. It is a high-level programming language.Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).

In [ ]:
# This is a how we write a comment in python.
print("Hello, World!")

Hello, World!

In [ ]:
#variables
greeting = "Hello, World!"
print(greeting)

Hello, World!

In [ ]:
b = 5
print(b, "is of type", type(b))
b = 2.0
print(b, "is of type", type(b))
b = 'kartik'
print(b, "is of type", type(b))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
kartik is of type <class 'str'>

In [ ]:
# For formatting a date
print('01','01','2021', sep='-')

# Another example
print('kartik','gmail.com', sep='@')

01-01-2021
kartik@gmail.com

#Operators

##Arithmetic operators:

In [ ]:
a = 2
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

5
-1
6
0.6666666666666666
8

In [ ]:
a = 13
b=5
print('remainder =', a%b)
print('quotient =', a//b)

remainder = 3
quotient = 2

In [ ]:
#What will be the output of the following statements?

print(17 // 10)
print(17 / 10)
print(17 % 10)

1
1.7
7

##Comparison Operators

In [ ]:
print(2==3)
print(2!=3)
print(2>3)
print(2<3)
print(2>=3)
print(2<=3)

False
True
False
True
False
True

In [ ]:
#What will be the output of the following statements?

5 > 4 and 4 > 3 and 3 > 2

True

In [ ]:
5 > 4 and 4 > 3 and 3 < 2

False

In [ ]:
5 > 4 or 4 > 3 or 3 < 2

True

##Logical Operators

In [ ]:
x = True
y = False


print(x and y)

print(x or y)


print(not x)

False
True
False

##Membership Operators

In [ ]:
#The membership operators in Python are in and not in which are used to test if a value exists in a sequence.

x = 'Kartik'
list = [1,2,3]

print('S' in x)
print('ik' not in x)
print(3 in list)
print('k' in x)

False
False
True
True

In [ ]:
#What will be the output of the following statement?

print('s' in 'saif')
print('e' in 'azmat')

True
False

#Input from user

In [ ]:
x = int(input())
print(x)

123
123

In [ ]:
x=input("What is your name ?")
print('Hello',x)

#Strings

In [ ]:
a="kartik"
print(type (a))

<class 'str'>

In [ ]:

s='coffee'
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])

c
o
f
f
e
e

In [ ]:
s='python'
print(s[-1])
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])
print(s[-6])

n
o
h
t
y
p

In [ ]:
#String Slicing
s='coffee'
print(s[0:3])
print(s[3:6])

cof
fee

In [ ]:
s='0123456789'
a=s[4]
b=s[7]
print(a+b)

47

In [ ]:
a='auto'
b='mobile'
print(a+b)

automobile

In [ ]:
s='good'
print(s*5)

goodgoodgoodgoodgood

#Conditional statements and loop

In [ ]:
if 10 == 10:
    print("I am happy")

I am happy

In [ ]:
n = int(input())

if n % 2 == 0:
    print(n,"is even.")
else:
    print(n,"is odd.")

5
5 is odd.

In [ ]:
#find the largest among three number
a = 5
b = 6
c = 4

if a >= b and a >= c:
    print("a is greater")

elif b >= c and b >= a:
    print("b is greater")

else:
    print("c is greater")

b is greater

In [ ]:
#What will be the output of the following code?

if 5 > 10:
    print("Coding")
elif 8 != 9:
    print("Ninja")
else:
    print("DSA")

Ninja

In [ ]:
if 15 > 5:
    print("Hello")
elif 10 >= 10:
    print("World")
else:
    print("Hello World!")

Hello

##for loop

In [ ]:
#Print all numbers from 0 to n.

n = int(input())

for i in range(n + 1):
    print(i)

5
0
1
2
3
4
5